/* styling being applied to the entire website */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mate SC, sans-serif;
    font-weight: 300;
    color: #080808;
}

h1, h2 {
    font-family: Mate SC, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #080808;
}

/* styling being applied to the header and navigation sections */

#position {
    position: relative;
    padding: 1% 0;
}

.center {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;

    background-color: white;
}

#title {
    font-size: 300%;
    float: left;
    text-align: center;
    padding: 5% 0;
}