/* Styling being applied to the entire website */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mate SC, sans-serif;
    font-weight: 300;
    color: #080808;
}

h1, h2 {
    font-family: Mate SC, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #080808;
}

/* Styles used regularly throughout the website on multiple sections */

.strip {
    background-color: #F2EDD7;
    height: 30px;
    width: 100%;
}

/* Styling being applied to the header and navigation sections */

#position {
    position: relative;
    padding: 1% 0;
    background-color: #F2EDD7;
}

.center {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    background-color: white;
}

#title {
    font-size: 300%;
    float: left;
    text-align: center;
    padding: 5% 0;
}

#media_platforms {
    position: absolute;
    left: 8%;
    top: 40%;
}

#media_platforms > li {
    display: inline-block;
}

#media_platforms i {
    font-size: 200%;
    color: #080808;
    letter-spacing: 20px;
}

#signup {
    position: absolute;
    right: 8%;
    top: 40%;
}

#signup a {
    text-decoration: none;
}

#signup_responsive {
    display: none;
}

#navigation_style {
    background-color: #C7BF94;
    height: 75px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#navigation {
    font-size: 200%;
    font-weight: bold;
}

#navigation li {
    float: right;
    list-style-type: none;
    letter-spacing: 2px;
    padding: 20px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 2px solid white;
}

.active {
    border-bottom: 2px solid white;
}

/* Styling of the main hero image and cover text */

#main_image_outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#main_image {
    height: 100%;
    width: 100%;
    background: url('../images/pancakes.jpeg') no-repeat center center;
    background-size: cover;
    margin: auto;
}

#cover_text {
    font-size: 190%;
    font-family: Mate SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 38%;
    height: 25%;
    
    clip-path: polygon(100% 0,100% 50%,100% 100%,0% 100%,14% 50%,0% 0%);
    background-color: rgba(221 , 221 , 221 , .7);

    position: absolute;
    top: 60%;
    right: 0;
}

#cover_text h2 {
    float: right;
    padding: 3% 5%;
    color: #080808;
    text-transform: none;
    text-align: right;
}

/* Styling of the about us and welcome section of the website */

#background_color {
    height: 600px;
    width: 100%;
    background-color: #C7BF94;
    position: relative;
}

#foreground_color_about {
    height: 550px;
    width: 98%;
    background-color: white;
    position: absolute;
    top: 4%;
    left: 1%;

    background-color: white;
}

#about_us_foreground_images {
    width: 25%;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;   
    
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#about_us_img2 {
    width: 300px;
    height: 500px;
    
    margin-top: 3%;    
}

#about_us_img2 img {
    width: 100%;
    height: auto; 

    border: 2px solid #808000;
    padding: 1%;
}

#aboutus_text {
    width: 70%;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;   

    float: right;
    margin-top: 25px;
    margin-right: 25px;  
}

#welcome {
    width: 400px;
    height: 70px;
}

#welcome img {
    width: 100%;
    height:auto;
}

#signature {
    width: 250px;
    height: 70px;

    margin-top: 1%;
}

#signature img {
    width: 100%;
    height: auto;
}

#text_about {
    width: 100%;
}

.about_us_text {
    font-size: 120%;
    font-family: Mate SC, sans-serif;
    text-align: center;
    width: 25%;
}

#about_left {
    width: 45%;
    float: left;
    margin-left: 2%;
}

#about_right {
    width: 45%;
    float: right;
    margin-right: 2%;
}

#contact {
    width: 100%;
    margin-top: 2%;
}

#contact_us_button {
    width: 50%;
    height: 30px;

    margin: 0 auto;
    border: 2px solid #080808;
    border-radius: 6px;
    padding: 10px;

    background-color: white;

    display: flex;
    justify-content: center;
    flex-flow: wrap;  

    font-size: 170%;
}

#contact_us_button a {
    text-decoration: none;
    color: #080808;
}

#contact_us_button:hover {
    background-color: #C7BF94;
    cursor: pointer;
}

/* Styling the customer favourites section on the main page and cake selection strip */

.click_here {
    text-align: center;
    margin: 0 auto;
    padding: 1.5% 0;
    background-color: white;
    font-size: 130%;
}

.click_here a {
    text-decoration: none;
    color: #808000;
}

#background_color_selection {
    background-color: #C7BF94;
    height: 350px;
    width: 100%;
    position: relative;
}

#foreground_selection {
    position: absolute;
    top: 4%;
    left: 1%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    background-color: white;
    height: 325px;
    width: 97.5%;
}

.border {
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    margin: .5% .2%;
    display: flex;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}
  
.container {
      width: 300px;
      height: 300px;
}

#selection1 {
    background: url('../images/selection1.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection2 {
    background: url('../images/selection2.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection3 {
    background: url('../images/selection3.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection4 {
    background: url('../images/selection4.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection5 {
    background: url('../images/selection5.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#selection6 {
    background: url('../images/selection6.jpeg') no-repeat center center;
    height: 100%;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#short_text {
    display: none;
}

/*Styling to the Afternoon Tea section of the index page */

#afternoon_tea_background {
    width: 100%;
    height: 500px;

    background-color: #C7BF94;
    padding-top: 2%;
}

#afternoon_tea_foreground_text {
    width: 60%;
    height: 90%;
    background-color: white;
    float: left;

    display: flex;
    justify-content: center;
    flex-flow: wrap;    
}

#afternoon_tea_joinus {
    height: 70px;
}

#afternoon_tea_joinus h2 {
    font-size: 200%;
    padding-top: 5%;
    text-align: center;
}

#afternoon_tea_text {
    width: 95%;
    height: 200px;
    text-align: center;
    font-size: 120%;
    padding-top: 10px;
}

#afternoon_tea_button {
    width: 40%;
    height: 30px;

    margin: 0 auto;
    border: 2px solid #080808;
    border-radius: 6px;
    padding: 10px;

    background-color: white;

    display: flex;
    justify-content: center;
    flex-flow: wrap;  

    font-size: 170%;
}

#afternoon_tea_button a {
    text-decoration: none;
    color: #080808;
}

#afternoon_tea_button:hover {
    background-color: #C7BF94;
    cursor: pointer;
}

#short_text_join {
    display: none;
}

#afternoon_tea_foreground_images {
    width: 40%;
    height: 90%;
    background-color: white;

    display: flex;
    justify-content: center;
    flex-flow: wrap;   

    float: right;
}

#afternoon_tea_img1 img {
    width: 220px;
    height: 330px;

    z-index: 1;

    margin-top: 4%;
    margin-left: 8%;

    border: 2px solid #808000;
    padding: 1px;
    border-radius: 3px;

    box-sizing: border-box;
}

#afternoon_tea_img2 img {
    width: 250px;
    height: 313px; 

    z-index:2;

    margin-top: 48%;
    margin-left: -5%;

    border: 2px solid #808000;
    padding: 1px;
    border-radius: 3px;

    box-sizing: border-box;
}

/* Styling of the newsletter section*/

#signup_background_outer {
    height: 400px;
}

#sign_up_background {
    width: 98%;
    height: 90%;
    background-color: white;
    margin-left: 1%;
}

#signup_border {
    border: 2px dashed #808000;
    margin-top: 1.3%;
    margin-right: 1.5%;
    height:100%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    box-sizing: border-box;
}

#sign_up_heading {
    padding-top: 3%;
}

#sign_up_heading h2 {
    font-size: 200%;
    text-align: center;
}

#sign_up_text {
    width: 80%;
}

#sign_up_text p {
    font-size: 120%;
    text-align: center;
}

#email_signup {
    width: 60%;
}

#email_signup input {
    border: 1px solid #080808;
    border-radius: 3px;
    padding: 5px;
    background-color: white;

    font-size: 150%;
    font-family: Mate SC, sans-serif;
    text-align: center;
} 

#email {
    width: 90%;
    margin-left: 4%;
}

#submit {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

#submit:hover {
    background-color: #C7BF94;
    cursor: pointer;
}

/* Styling the footer section of the website */

#background_footer {
    background-color: #C7BF94;
    width: 100%;
    height: 70px;
}

#footer_media {
    width: 20%;
    margin-top: 1%;
    float: right;
}

#footer_media li {
    display: inline-block;
}

#footer_media i {
    font-size: 200%;
    color: #080808;
    letter-spacing: 10px;
}

.contact_us > h3 {
    font-size: 150%;
    padding-left: 10px;
    padding-top: 2px;
    float: left;
}

.contact_us > p {
    font-size: 150%;
    padding-left: 10px;
    padding-top: 2px;
    float: left;
}

.contact_us {
    float: left;
    margin-left: 2%;
    padding-top: 15px;
}

/* Styling of the menu section */

#menu_background {
    background-color: #C7BF94;
    width: 100%;
    height: 1810px;
}

#menu_forground {
    background-color: #F2EDD7;
    width: 100%;
    height: 1800px;
    margin: 0 auto;
}

#menu_header {
    text-align: center;
    padding-top: 1%;
}

#menu_header h2 {
    font-size: 220%;
}

#menu_header p {
    font-size: 180%;
    color: #808000;
    padding-top: 1%;
}

.menu h2::before {
    content: "\A";
    white-space: pre;
}

.menu h3::before {
    content: "\A";
    white-space: pre;
}

#classic_afternoon_tea {
    background-color: white;
    border: 2px dashed #808000;
    width: 80%;
    height: 25%;
    margin: 1% auto;
}

#premium_afternoon_tea {
    background-color: white;
    border: 2px dashed #808000;
    width: 80%;
    height: 35%;
    margin: 1% auto;
}

.price {
    color: #808000;
    font-style: italic;
}

.menu p{
    text-align: center;
    font-size: 150%;
}

.menu h2 {
    text-align: center;
    font-size: 150%;
}

.menu h3 {
    text-align: center;
    font-size: 150%;
}

/* Media Queries */

@media screen and (max-width: 1900px) {
    .border {
        height: 270px;
        width: 270px;
        margin: 1% .3%;
    }
    .container {
        width: 270px;
        height: 270px;
    }
}

@media screen and (max-width: 1720px) {
    #background_color_selection {
        height: 300px;
     }
     #foreground_selection {
        top: 4%;
        left: 1%;
        height: 270px;
        width: 97.5%;
    }
    .border {
        height: 250px;
        width: 250px;
        margin: .5% .1%;
    }
    .container {
        width: 250px;
        height: 250px;
    }
    #afternoon_tea_button {
        margin-top: 8%;
    }
}

@media screen and (max-width: 1580px) {
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 250px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 280px;
     }
    .border {
        height: 200px;
        width: 200px;
        margin: 1.5% .5%;
    }
    .container {
        width: 200px;
        height: 200px;
    }
    #short_text {
        display: inline-block;
    }
    #long_text {
        display: none;
    }
    .contact_us > p {
        font-size: 130%;
    }
    .contact_us > h3 {
        font-size: 130%;
    }
}

@media screen and (max-width: 1340px) {
    #media_platforms {
        left: 3%;
    }
    #media_platforms i {
        letter-spacing: 10px;
    }
    #signup h2 {
        letter-spacing: 2px;
    }
    #main_image_outer {
        height: 300px;
    }
    #cover_text {
        font-size: 130%;
        height: 30%;
    }
    #cover_text h2 {
        padding: 1%;
    }
    #background_color {
        height: 600px;
    }
    #foreground_color_about {
        height: 570px;
    }
    .about_us_text {
        font-size: 110%;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 220px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 250px;
    }
    .border {
        height: 200px;
        width: 200px;
        margin: .5% .01%;
    }
    .container {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 1250px) {
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 550px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 600px;
    }
    .border {
        height: 230px;
        width: 230px;
        margin: 2% 5%;
    }
    .container {
        height: 230px;
        width: 230px;
    }
    .contact_us > p {
        font-size: 120%;
    }
    .contact_us > h3 {
        font-size: 120%;
    }
}

@media screen and (max-width: 1192px) {
    #afternoon_tea_img1 img {
        margin-top: 20%;
        margin-right: 5%
    }
    #afternoon_tea_img2 img {
        display: none;
    }
    .contact_us > p {
        font-size: 110%;
    }
    .contact_us > h3 {
        font-size: 110%;
    }
}

@media screen and (max-width: 1070px) {
    #foreground_color_about {
        height: 520px;
    }
    #background_color {
        height: 580px;
    }
    #aboutus_text {
        width: 65%;
    }
    .about_us_text {
        font-size: 100%;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 600px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 650px;
    }
    .border {
        height: 230px;
        width: 230px;
        margin: 3% 3%;
    }
    .container {
        height: 220px;
        width: 220px;
    }
    .contact_us > p {
        font-size: 100%;
    }
    .contact_us > h3 {
        font-size: 100%;
    }
}

@media screen and (max-width: 1010px) {
    #background_color {
        height: 530px;
    }
    #foreground_color_about {
        height: 480px;
    }
    #about_us_foreground_images {
        display: none;
    }
    #aboutus_text {
        width: 97%;
    }
    #long_text_join {
        display: none;
    }
    #short_text_join {
        display: inline-block;
        font-size: 200%;
        padding-top: 5%;
    }
}

@media screen and (max-width: 960px) {
    #title {
        font-size: 250%;
    }
    #media_platforms {
        left: 5%;
        top: 30%;
        width: 10%;
    }
    #media_platforms i {
        font-size: 135%;
    }
    #signup {
        display: none;
    }
    #signup_responsive {
        font-size: 120%;
        color: #080808;
        text-decoration: none;

        display: block;
        position: absolute;
        top: 30%;
        right: 8%;
    }
    #cover_text h2 {
        font-size: 110%;
        font-weight: bold;
        padding: 6% 2%;
    }
    #background_color {
        height: 530px;
    }
    #foreground_color_about {
        height: 500px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 550px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 600px;
    }
    .border {
        height: 200px;
        width: 200px;
        margin: 3% 2%;
    }
    .container {
        height: 180px;
        width: 180px;
    }
    #afternoon_tea_foreground_text {
        height: 98%;
    }
    #afternoon_tea_text {
        font-size: 110%;
    }
    #afternoon_tea_foreground_images {
        height: 98%;
    }
    #footer_media {
        width: 24%;
        padding-top: 8px;
    }
    .contact_us {
        margin-left: 0;
    }
    #background_footer {
        height: 90px;
    }
}

@media screen and (max-width: 830px) {
    #about_us_foreground_images {
        display: none;
    }
    #afternoon_tea_foreground_text {
        width: 98%;
        margin-left: 1%;
    }
    #long_text_join {
        display: inline-block;
        font-size: 200%;
        padding-top: 5%;
    }
    #short_text_join {
        display: none;
    }
    #afternoon_tea_foreground_images {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    #background_color {
        height: 600px;
    }
    #foreground_color_about {
        height: 560px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 440px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 480px;
    }
    .border {
        height: 180px;
        width: 180px;
        margin: 3% 1%;
    }
    .container {
        height: 160px;
        width: 160px;
    }
    #email_signup {
        width: 70%;
    }
    #footer_media {
        width: 30%;
    }
}

@media screen and (max-width: 640px) {
    #media_platforms {
        display: none;
    }
    #signup_responsive {
        display: none;
    }
    #navigation {
        font-size: 150%;
    }
    #navigation li {
        padding: 20px 10px;
    }
    #cover_text {
        width: 50%;
    }
    #background_color {
        height: 700px;
    }
    #foreground_color_about {
        height: 600px;
    }
    #foreground_selection {
        top: 4%;
        left: 1%;
        height: 360px;
        width: 97.5%;
    }
    #background_color_selection {
        height: 390px;
    }
    .border {
        height: 140px;
        width: 140px;
        margin: 3% 0.1%;
    }
    .container {
        height: 140px;
        width: 140px;
    }
    .click_here {
        font-size: 90%;
    }
    #long_text_join {
        display: none;
    }
    #short_text_join {
        display: inline-block;
        font-size: 200%;
        padding-top: 5%;
    }
    #afternoon_tea_text {
        font-size: 100%;
    }
    #afternoon_tea_button {
        width: 60%;
    }
    #email_signup {
        width: 85%;
    }
    #footer_media {
        width: 35%;
    }
}

@media screen and (max-width: 414px) {
    .center {
        height: 70px;
    }
    #title {
        font-size: 180%;
    }
    #navigation {
        font-size: 130%;
    }
    #navigation li {
        padding: 20px 6px;
    }
    #cover_text h2 {
        font-size: 100%;
        letter-spacing: 2px;
    }
    #cover_text {
        width: 60%;
        height: 20%;
        top: 65%;
        padding-bottom: 5%;
    }
    #welcome {
        padding-left: 30px;
    }
    #signature {
        padding-left: 30px;
    }
    #about_left {
        float: none;
        width: 90%;
    }
    #about_right {
        float: none;
        width: 90%;
    }
    #text_about {
        display: flex;
        justify-content: center;
        flex-flow: wrap;  
        margin-left: 8%;
    }
    #background_color {
        height: 800px;
    }
    #foreground_color_about {
        height: 750px;
    }
    #contact_us_button {
        width: 60%;
        margin-left: 20%;
        margin-top: 5%;
    }
    .click_here {
        font-size: 75%;
    }
    #foreground_selection {
        height: 250px;
    }
    #background_color_selection {
        height: 280px;
    }
    .container {
        height: 100px;
        width: 100px;
    }
    .border {
        height: 100px;
        width: 100px;
        margin: 3% 0.5%;
    }
    #afternoon_tea_button {
        margin-top: 15%;
    }
    #email_signup {
        width: 98%;
    }
    #email_signup input {
        font-size: 120%;
    }
    #footer_media {
        font-size: 70%;
        float: none;
        margin: 0 auto;
    }
    #background_footer {
        height: 160px;

        display: flex;
        justify-content: center;
        flex-flow: wrap; 
    }
    .contact_us {
        margin: 0 auto;

        display: flex;
        justify-content: center;
        flex-flow: wrap;   

        padding-top: 0;
    }
    .contact_us p {
        float: none;
        text-align: center;
    }
    .contact_us h3 {
        float: none;
    }
}

@media screen and (max-width: 320px) {
    #navigation {
        font-size: 120%;
    }
    #navigation li {
        padding: 20px 4px;
    }
    #cover_text h2 {
        font-size: 90%;
        letter-spacing: 2px;
    }
    #cover_text {
        width: 60%;
        height: 20%;
        top: 65%;
        padding-bottom: 5%;
    }
    .about_us_text {
        font-size: 92%;
    }
    #welcome {
        padding-left: 45px;
    }
    #text_about {
        margin-left: 12%;
    }
    #about_left {
        width: 95%;
    }
    #abut_right{
        width: 95%;
    }
    .click_here {
        font-size: 60%;
    }
    #footer_media {
        font-size: 60%;
        width: 38%;
        text-align: center;
    }
}