/* Styling being applied to the entire website */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mate SC, sans-serif;
    font-weight: 300;
    color: #080808;
}

h1, h2 {
    font-family: Mate SC, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #080808;
}

/* Styles used regularly throughout the website on multiple sections */

.strip {
    background-color: #F2EDD7;
    height: 30px;
    width: 100%;
}

/* Styling being applied to the header and navigation sections */

#position {
    position: relative;
    padding: 1% 0;
    background-color: #F2EDD7;
}

.center {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;

    background-color: white;
}

#title {
    font-size: 300%;
    float: left;
    text-align: center;
    padding: 5% 0;
}

#media_platforms {
    position: absolute;
    left: 8%;
    top: 40%;
}

#media_platforms > li {
    display: inline-block;
}

#media_platforms i {
    font-size: 200%;
    color: #080808;
    letter-spacing: 20px;
}

#signup {
    position: absolute;
    right: 8%;
    top: 40%;
}

#signup a {
    text-decoration: none;
}

#signup_responsive {
    display: none;
}

#navigation_style {
    background-color: #C7BF94;
    height: 75px;

    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#navigation {
    font-size: 200%;
    font-weight: bold;
}

#navigation li {
    float: right;
    list-style-type: none;
    letter-spacing: 2px;
    padding: 20px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 2px solid white;
}

.active {
    border-bottom: 2px solid white;
}

/* Styling of the main hero image and cover text */

#main_image_outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#main_image {
    height: 100%;
    width: 100%;
    background: url('../images/pancakes.jpeg') no-repeat center center;
    background-size: cover;
    margin: auto;
}

#cover_text {
    font-size: 190%;
    font-family: Mate SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 38%;
    height: 25%;
    
    clip-path: polygon(100% 0,100% 50%,100% 100%,0% 100%,14% 50%,0% 0%);
    background-color: rgba(221 , 221 , 221 , .7);

    position: absolute;
    top: 60%;
    right: 0;
}

#cover_text h2 {
    float: right;
    padding: 3% 5%;
    color: #080808;
    text-transform: none;
    text-align: right;
}

/* Styling of the about us and welcome section of the website */

#background_color {
    height: 600px;
    width: 100%;
    background-color: #C7BF94;
    position: relative;
}

#foreground_color_about {
    height: 550px;
    width: 98%;
    background-color: white;
    position: absolute;
    top: 4%;
    left: 1%;

    background-color: white;
}

#about_us_foreground_images {
    width: 25%;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;   
    
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#about_us_img2 {
    width: 300px;
    height: 500px;
    
    margin-top: 3%;    
}

#about_us_img2 img {
    width: 100%;
    height: auto; 

    border: 2px solid #808000;
    padding: 1%;
}

#aboutus_text {
    width: 70%;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-flow: wrap;   

    float: right;
    margin-top: 25px;
    margin-right: 25px;  
}

#welcome {
    width: 400px;
    height: 100px;
}

#welcome img {
    width: 100%;
    height:auto;
}

#signature {
    width: 250px;
    height: 70px;

    margin-top: 1%;
}

#signature img {
    width: 100%;
    height: auto;
}

#text_about {
    width: 100%;
}

.about_us_text {
    font-size: 120%;
    font-family: Mate SC, sans-serif;
    text-align: center;
    width: 25%;
}

#about_left {
    width: 45%;
    float: left;
    margin-left: 2%;
}

#about_right {
    width: 45%;
    float: right;
    margin-right: 2%;
}

/* Media Queries */

@media screen and (max-width: 1340px) {
    #media_platforms {
        left: 3%;
    }
    #media_platforms i {
        letter-spacing: 10px;
    }
    #signup h2 {
        letter-spacing: 2px;
    }
    #main_image_outer {
        height: 300px;
    }
    #cover_text {
        font-size: 130%;
        height: 30%;
    }
    #cover_text h2 {
        padding: 1%;
    }
    #background_color {
        height: 580px;
    }
    #foreground_color_about {
        height: 520px;
    }
}

@media screen and (max-width: 1070px) {
    #foreground_color_about {
        height: 480px;
    }
    #background_color {
        height: 530px;
    }
}

@media screen and (max-width: 1010px) {
    #background_color {
        height: 510px;
    }
    #foreground_color_about {
        height: 450px;
    }
}

@media screen and (max-width: 960px) {
    #title {
        font-size: 250%;
    }
    #media_platforms {
        left: 5%;
        top: 30%;
        width: 10%;
    }
    #media_platforms i {
        font-size: 135%;
    }
    #signup {
        display: none;
    }
    #signup_responsive {
        font-size: 120%;
        color: #080808;
        text-decoration: none;

        display: block;
        position: absolute;
        top: 30%;
        right: 8%;
    }
    #cover_text h2 {
        font-size: 110%;
        font-weight: bold;
        padding: 6% 2%;
    }
    #background_color {
        height: 450px;
    }
    #foreground_color_about {
        height: 400px;
    }
}

@media screen and (max-width: 830px) {
    #about_us_foreground_images {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #media_platforms {
        display: none;
    }
    #signup_responsive {
        display: none;
    }
    #navigation {
        font-size: 150%;
    }
    #navigation li {
        padding: 20px 10px;
    }
    #cover_text {
        width: 50%;
    }
}

@media screen and (max-width: 414px) {
    .center {
        height: 70px;
    }
    #title {
        font-size: 180%;
    }
    #navigation {
        font-size: 130%;
    }
    #navigation li {
        padding: 20px 6px;
    }
    #cover_text h2 {
        font-size: 100%;
        letter-spacing: 2px;
    }
    #cover_text {
        width: 60%;
        height: 20%;
        top: 65%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 320px) {
    #navigation {
        font-size: 120%;
    }
    #navigation li {
        padding: 20px 4px;
    }
    #cover_text h2 {
        font-size: 90%;
        letter-spacing: 2px;
    }
    #cover_text {
        width: 60%;
        height: 20%;
        top: 65%;
        padding-bottom: 5%;
    }
}